{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Хранение мототехники{% endblock %}



{% block main_content %}
<div class="moto_safekeeping_background_image clearfix" id="bg"
     style="background-image: url('{% static "main/img/moto_safekeeping_background.jpg"%}');">
    <br>
    <h3 class="moto_safekeeping_anchor"> </h3>

    <div class="moto_safekeeping_main_block">
        <div class="moto_safekeeping_block">
            <h3 align="center">Зачем оставлять мототехнику на хранение?</h3>
            <p>
                Подготовка к зимнему хранению мототехники в первую очередь осуществляется с целью увеличения срока
                службы мотоцикла и, как следствие, обеспечению более безопасного старта двигателя весной.
            </p>
            <p>
                Поскольку мотоцикл, в силу особенности своего строения и опасности передвижения по зимнему дорожному
                полотну, зачастую используется в период с апреля по октябрь, всю зиму мотоцикл вынужден "простаивать".
            </p>
            <p>
                За время длительного, в большинстве случаев можно говорить о 6 месяцах хранения, пребывания без
                движения и работы многие детали и элементы мотоцикла могут прийти в негодность.
            </p>
            <ul>Таким образом, желательно заранее позаботиться о том, чтобы:
                <li>- запуск двигателя прошел без проблем;</li>
                <li>- металлические детали за зиму не подверглись коррозии;</li>
                <li>- резиновые элементы за зиму не утратили эластичности;</li>
                <li>- сохранился заряд аккумулятора;</li>
                <li>- легкие загрязнения не превратились за зиму в окаменелости.</li>
            </ul>
        </div>
        <div class="moto_safekeeping_block">
            <h3 align="center">Параметры нашего паркинга</h3>
            <ul>ООО "Авалон авто" создало следующие условия для хранения мототехники:
                <li>- площадь для хранения мототехники составляет более 100м<sup>2</sup>;</li>
                <li>- температура внутри крытого паркинга в зимнее время составляет от +15 до +20 &#8451;;</li>
                <li>- круглосуточная охрана территории паркинга с видеонаблюдением переданной на хранение техники;</li>
                <li>- юридическое оформление данной услуги;</li>
                <li>- местоположение паркинга выбрано специально с возможностью удобного подъезда на автомобиле и
                на общественном транспорте.</li>
            </ul>
        </div>
<!--        <div class="moto_safekeeping_block">-->
<!--            <h3 align="center">Что бывает, если НЕ оставить мототехнику в надлежащих условиях?</h3>-->
<!--            <p>-->
<!--                Lorem Ipsum is simply dummy text of the printing and typesetting-->
<!--                industry. Lorem Ipsum has been the industry's standard dummy text-->
<!--                ever since the 1500s, when an unknown printer took a galley of type-->
<!--                and scrambled it to make a type specimen book. It has survived not-->
<!--                only five centuries, but also the leap into electronic typesetting,-->
<!--                remaining essentially unchanged. It was popularised in the 1960s with-->
<!--                the release of Letraset sheets containing Lorem Ipsum passages, and-->
<!--                more recently with desktop publishing software like Aldus PageMaker-->
<!--                including versions of Lorem Ipsum.-->
<!--            </p>-->

            <div class="moto_safekeeping_block_img">

            </div>
        </div>

    </div>




<!-- <a href="{'%' url 'home' '%'}">На главную</a>-->

</div>

<!--    <img class="moto_safekeeping_background_img" src="{'%' static 'main/img/moto_safekeeping_background.jpg' '%'}" alt="icon_cycle">-->
    <!--  width="100%" height="100%" -->
<!--</div>-->






{% endblock %}