{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Обслуживание и восстановление мототехники{% endblock %}

{% block main_content %}

<div class="moto_services_background_image clearfix" id="bg"
 style="background-image: url('{% static "main/img/moto_service_background.jpg"%}');">
    <br>
    <h3 class="moto_service_anchor">Перечень оказываемых услуг по ремонту, восстановлению
        и эвакуации транспортных средств</h3>

    <div class="moto_services_background_text_and_list">
        <div class="text_block">
            <p>
                Выше приведена стоимость на услуги по ремонту и обслуживанию мото- и автотехники в нашей компании.
            </p>
            <p>
                Это далеко не весь список выполняемых работ.
            </p>
            <p>
                В нашей компании цены на ремонт и обслуживание разные для разных транспортных средств.
                Данный факт обусловлен тем, что один и тот же вид работ на разных марках занимает разное количество
                времени ввиду технологических особенностей соблюденных при производстве.
            </p>
            <p>
                Техника одной марки позволяет получить быстрый доступ к обслуживаемым элементам техники, и работа
                выполняется достаточно быстро, а на другой марке такого доступа может не быть, что влечет за собой
                некоторое увеличение трудозатрат и времени на выполняемые работы.
            </p>
            <p>
                В нашей компании для постоянных клиентов действуют скидки.
                Мы регулярно проводим акции на услуги, запчасти и расходники для Вашей техники.
            </p>
            <p>
                Мы всегда рады Вас видеть в нашей компании!
            </p>
        </div>

<!--        <div class="block_of_services_list_and_text"> --> <!-- class="block_of_services_list_and_text" -->
            <div class="block_of_services_list">
                <ul><h4>Перечень оказываемых услуг:</h4>
                {% for i in moto_service_services_list %}
                    <li>- {{ i }}</li>
                {% endfor %}
                    </ul>
<!--            </div>-->
        </div>
        <br>
        <div  class="text_block">
            <p>
                Если Вы не нашли интересующую Ваc услугу, то обратитесь к нам за уточнением
                посредством формы на сайте и (или) указанных телефонных номеров.
            </p>
        </div>
    </div>
<!-- <a href="{'%' url 'home' '%'}">На главную</a>-->

</div>


{% endblock %}